{% extends "base.html.twig" %}

{% block content %}
    <ul class="list-group">
    {% for dimension, locations in locationsByDimensions %}
        <li class="list-group-item">
            <a href="{{ path('dimensions_details', {dimension: dimension | url_encode }) }}">{{ dimension }}</a>
            <span class="text-muted">({{ locations | length }} {% if (locations | length) == 1 %}location{% else %}locations{% endif %})</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
